/* Base Styles */
.bignumbers-container {
  font-family: "Libre Baskerville", serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding: 2rem;
  padding-top: 10vh;
  margin: 0 auto;
  max-height: 500px;
  max-width: 1000px;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vw; /* Ensure it fits the viewport */
  min-height: 100vh;
}

.prefix {
  display: flex;
  flex-direction: row;
  padding-right: 4rem;
}

.stat-item {
  text-align: center;
  border-top: 1px solid #e0e0e0;
  padding: 1.5rem 0;
}

.stat-value {
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.stat-unit {
  margin: auto 0;
  padding-right: 5px;
  font-size: 4rem;
  margin-left: 0.25rem;
  font-weight: bold;
  color: white;
}

.stat-text {
  font-size: 1rem;
  color: white;
  margin-top: 0.5rem;
  text-align: left;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .bignumbers-container {
    grid-template-columns: 1fr; /* Single column */
    gap: 0rem;
    padding: 1rem;
    margin-top: -12rem;
    width: 300px; /* Ensure it fits the viewport */
    max-width: 100%; /* Remove any fixed width constraints */
  }
  
  .stat-value {
    font-size: 2.5rem;
  }
  
  .stat-unit {
    font-size: 1.5rem;
  }
  
  .stat-item {
    padding: 0.5rem 0;
  }
}

@media (max-width: 1200px) and (min-width: 450px) {
  .bignumbers-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for medium screens */
    gap: 3rem;
    padding-top: 5vh;
    max-width: 500px;
  }
  
  .stat-value, .stat-unit {
    font-size: 2rem;
  }
  
  .stat-item {
    padding: 0.5rem 0;
  }
}
