.conclusao-container{
  background-color: white;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  text-align: justify;
padding-top:100px;

}

.conclusao{
  max-width: 35rem;
  margin-bottom:50px;
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  font-size: 0.6em;
  line-height: 1.15;
  text-align: justify;
  line-height: 1.5;

}

/* Media query for tablets */
@media (max-width: 768px) {
  .conclusao-container{
    padding: 30px;
  }
 }
 
 /* Media query for smartphones */
 @media (max-width: 480px) {
   .conclusao-container{
     padding: 25px;
   }
 }
 