.content-section {
  padding: 50px 100px 100px 100px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Ensure z-index works */
z-index: 1;
}

.text-card-map-intro {
  margin-bottom:50px;
  position: relative;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  font-size: 0.6em;
  line-height: 1.15;
  text-align: left;
  line-height: 1.5;
}

.box-map-intro {
  font-family: "Libre Baskerville", serif;
  max-width: 35rem;
  padding: 30px;
  
}

.special-image {
  opacity: 0;
  transition: opacity 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}
.special-image2 {
  opacity: 0;
  transition: opacity 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}
.special-image3 {
  opacity: 0;
  transition: opacity 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}

/* Media query for tablets */
@media (max-width: 768px) {
 .content-section{
   padding: 0px;
 }
 .special-image {
  max-width: 100%;
  max-height: 100%;
}
 .special-image2 {
  max-width: 100%;
  max-height: 100%;
}
 .special-image3 {
  max-width: 100%;
  max-height: 100%;
}
}

/* Media query for smartphones */
@media (max-width: 480px) {
  .content-section{
    padding: 0px;
  }
  .special-image {
    max-width: 100%;
    max-height: 100%;
  }
   .special-image2 {
    max-width: 100%;
    max-height: 100%;
  }
   .special-image3 {
    max-width: 100%;
    max-height: 100%;
  }
}
