.creditos {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin: 0;
}

.section {
  max-width: 35rem;
  text-align: center; /* Center the text */
  margin-bottom: 40px; /* Space between sections */
}

.section ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
}

.section ul li {
  margin-bottom: 10px; /* Space between names */
}

.logo-creditos {
  padding-top: 5vh;
  margin: 10vh;
}

.logo-creditos img {
  filter: invert(1); /* Inverts the colors, making white black */
  width: 150px;
}