.eventos-container {
  position: relative;
  width: 100%;
  height: 2000vh; /* Adjust based on the number of sections */
  overflow: hidden;
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
 
  width: 100%;
  height: 100%;
  object-fit: 'cover';
  opacity: 0; /* Start with all videos hidden */
  transition: opacity 0.1s ease-in-out;
}

.text-section {
  position: relative;
}

.text-card-eventos {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  font-size: 0.55em;
  line-height: 1.15;
  /* text-align: left; */
  line-height: 1.5;
  
}

.box-eventos {
  font-family: "Libre Baskerville", serif;
  max-width: 35rem;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9); /* Translucent background */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.2) ;
  z-index: 9999 !important;
}


.text-card-eventos h2 {
  margin: 0;
  max-width: 35rem;
}

.text-card-eventos3 {
  position: relative;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  font-size: 0.55em;
  line-height: 1.15;
  text-align: left;
  line-height: 1.5;
}
.text-card-eventos-nobel {
  position: relative;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  font-size: 0.55em;
  line-height: 1.15;
  text-align: left;
  line-height: 1.5;
}

.sem-estilo-link {
  text-decoration: none;
  color: inherit;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .box-eventos{
  padding: 20px;
  margin: 30px;
  }
  .image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
   
    width: 100%;
    height: 100%;
    object-fit: 'cover';
    opacity: 0; /* Start with all videos hidden */
    transition: opacity 0.1s ease-in-out;
  }
  .text-card-eventos {
    font-size: 0.65em;
  }
  .text-card-eventos3 {
    font-size: 0.65em;
  }
  .text-card-eventos-nobel {
    font-size: 0.65em;
  }
}

/* Media query for smartphones */
@media (max-width: 540px) {
  .box-eventos{
   padding: 30px;
  }
 .image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
 
  width: 100%;
  height: 100%;
  object-fit: 'cover';
  opacity: 0; /* Start with all videos hidden */
  transition: opacity 0.1s ease-in-out;
}

}