.map-container {
  position: relative;
  width: 100%;
  height: 1200vh; /* Adjust based on the number of sections */
  overflow: hidden;

}

.text-section-map {
  position: relative;
}

.text-card-map {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  font-size: 0.55em;
  line-height: 1.15;
  text-align: left;
  line-height: 1.5;
}
.text-card-map-especial{
  position: relative;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #717171;
  font-size: 0.55em;
  line-height: 1.15;
  text-align: left;
  line-height: 1.5;
}

.text-card-map h2 {
  margin: 0;
  max-width: 30rem;
}
.text-card-map-especial h2 {
  margin: 0;
  max-width: 30rem;
}

.box {
  z-index: 998 !important;
  max-width: 30rem;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9); /* Translucent background */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.2) ;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .box{
  margin: 20px;
  padding: 20px;
  }
}

/* Media query for smartphones */
@media (max-width: 480px) {
  .box{
   margin: 30px;
   padding: 30px;
  }

}