.quiz-container2 {
  padding-top: 50px;
  margin-bottom: -20px;
  padding-bottom: 20px;
  width: 100%;
  background-color: white;
}

.quiz-container {
  max-width: 600px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}

.g20_title {
  margin: 0 20px;
  max-width: 600px;
  font-size: 0.8rem;
  color: #717171;
}

.quiz-image {
  position: relative;
}

.quiz-image img {
  width: 100%;
  height: auto;
}

.image-credit {
  font-size: 12px;
  color: #888;
  padding: 5px;
  text-align: center;
}

.quiz-content {
  padding: 20px;
}

.quiz-question {
  margin-bottom: 20px;
  color: #717171;
  font-size: 0.8rem;
}

.quiz-question h3 {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.quiz-options {
  display: flex;
  flex-direction: column;
}

.option-btn {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 0.8rem;
  cursor: pointer;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Space between text and icon */
  align-items: center; /* Align items vertically */
  position: relative;
  transition: background-color 0.3s ease;
  color: #717171; /* Explicitly set the text color */
}

.option-text {
  flex-grow: 1; /* Allow text to take up remaining space */
}

.option-btn:hover {
  background-color: #f0f0f0;
}

.option-btn.correct {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.option-btn.incorrect {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.feedback-icon {
  margin-left: 10px;
  font-size: 15px;
}
.correct-icon {
  color: green; /* Define a cor verde para o emoji */
}
.quiz-explanation {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.8rem;
  color: #717171;
}

.separator {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

@media (max-width: 768px) {
 .g20_title{
  font-size: 0.99rem;
 }
 .quiz-question {
  font-size: 0.99rem;
 }
 .quiz-question h3 {
  font-size: 0.99rem;
 }
 .option-btn{
  font-size: 0.99rem;
 }
 .quiz-explanation {
  font-size: 0.99rem;
}
}