.quiz-container {
  padding-top:20px;
  background-color: white;
  z-index: 4 !important;
  
}

.quiz-intro {
  margin:10px auto;
  font-family: "Libre Baskerville", serif;
  max-width: 40rem;
  padding: 30px;
  background-color: rgba(255, 255, 255, 1); /* Translucent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Elevation */
  position: relative;

  color: #717171;
 
  line-height: 1.15;
  text-align: justify;
  line-height: 1.5;
}
.flourish-credit{
  display: none;
}
